* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.attribution { 
  font-size: 12px; text-align: center;
  color: black;
  position: absolute;
  bottom: 3px;
  right: 8px;
}
.attribution a { 
  color: hsl(228, 45%, 44%);
  text-decoration: none; 
}